 /* taustan v채ri */
 .navbar-custom {
    background-color: rgba(137,17,76,0.9);
}

/* brandin ja tekstin v채ri */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: rgba(241,135,187, 0.8);
}

/* linkin v채ri */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(241,135,187, 0.8);
}

/* aktiivisen & hover-linkin v채ri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: rgba(255,102,203, 0.5);
}

.logo {
    width: 50px;
    height: auto;
  }

  main.container-fluid {
    margin-top: 80px;
}

label.muoto{display: inline-block;
    width:6em;
    text-align:right;
    vertical-align:top;
}
  